<div class="container">
  <header class="jumbotron">
    <div class="nav-bar">
       <div class="main">
         {{#link-to 'index' class="title"}}
         <h1 >Gaming Blog</h1>{{/link-to}}
       </div>
      <p>{{#link-to 'dash' class="navlink"}}Dashboard{{/link-to}} | {{#link-to 'about' class="navlink"}} About{{/link-to}} |
      {{#link-to 'contact' class="navlink"}} Contact{{/link-to}}</p>
    </div>
  </header>

  {{outlet}}

  <footer>
    <hr>
  </footer>
</div>
