<div class="row">
  <div class="col-md-10">
    <div class="index-blog-pane">
      {{#each model.games as |game|}}
        {{index-blog-tile game=game}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-2">
    <div class="categories">
      {{list-category-tile categories=model.categories}}
    </div>
  </div>
</div>
