<div class="blog-miniheader">
    <h1>This will be a wall with our blog feed, unorganized to start</h1>
</div>
<div id="blog-content">
    <ul>
        {{#each model as |game|}}
        {{game-tile game=game update2="update3"}}
        {{/each}}
    </ul>
    <h1>Add a game the blog</h1>
    {{new-game saveGame2="saveGame3"}}
</div>
